body{
    background-image: url("../css/360_F_358020834_zhcWAfVlQqprPySjj5CurGRxdOx2SRgH.jpg") ;
    background-size:cover;
    background-repeat: no-repeat;
    width: 99%;
    height: 100%;
    text-align: center;
    color: white;
    transition-duration: 1s;
}

.container{
    display: flex;
    background-color: rgba(99, 42, 126,0.5);
    backdrop-filter: blur();
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    flex-direction: column;
    width: 75%;
    height: 900px;
    padding-bottom: 10px;
    backdrop-filter: blur(5px);
}

.row{
    display:flex;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.data{
    background-color:rgba(161, 62, 151, 0.507);
    text-align: center;
    font-weight: bold;
    width: 150px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    background-color:rgba(161, 62, 151, 1);
    text-align: center;
    font-weight: bolder;
    width: 250px;
    height: 60px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.data1{
    background-color:rgba(161, 62, 151, 1);
    text-align: center;
    font-weight: bolder;
    width: 150px;
    height: 60px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

input{
    display: flex;
    width: 100px;
    height: 100px;
    float: right;
backdrop-filter: blur(5px);
}

@media only screen and(max-width: 1000px){
    #adat1,#adat{
        margin-left: 30px;
        width: 120px;
    }
}

@media only screen and(max-width: 900px){
    #adat1,#adat{
        margin-left: 20px;
    }
}

@media only screen and(max-width: 800px){
    #adat1,#adat{
        margin-left: 10px;
        width: 100px;
    }
}

@media only screen and(max-width: 700px){
    #adat1,#adat{
        margin-left: 5px;
    }
}

@media only screen and(max-width: 600px){
    #adat1,#adat{
        margin-left: 3px;
        width: 80px;
    }
}

@media only screen and(max-width: 500px){
    #adat1,#adat{
        margin-left: 2px;
    }
}

@media only screen and(max-width: 400px){
    #adat1,#adat{
        margin-left: 1px;
        width: 60px;
    }
}
